/* 

QUESTION: Can we shift the size of the container of the drum beats to a smaller width depending on the measure type? 
For example, if we are using eighth notes, we want that to be one half of the size of the fourth notes to indicate 
double time. I

ANSWER: n order to do this, we have to look at the drum track beat type, and create a container around the 
beats, which then specifies a specifc width for the entire container, the elements within being fluid and adaptable.

*/

* {
    box-sizing:border-box;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

$beatTypes: 1, 2, 4, 8, 16, 32, 64;
$maxBeats: 100;

// SASS is so cool
@mixin beat-x-list {
    @each $beatType in $beatTypes {
        .drumtrack__drumbeats__drumbeat--#{$beatType} { 
            width: (100)/($beatType) * 1%;
        }
    }
}

@mixin remove-default-appearance {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important; 
  padding: 0 0 0 em(10);
  margin: 0 0 em(10) 0;
  line-height: em(20); 
  border-radius:0;
}



@include beat-x-list;


.drummachine {
    max-width:90%;
    margin:0 auto;
    padding:2.5%;
    display:block;
    background-color:#111;
    color:#FFF;
}

.drumtrack__drumbeats__drumbeat--active {
    background-color:#ACDFEE !important;
}

.drumtrack__controls__timesig {
    font-size:2.5em;
    clear:both;
}

.drumtrack__controls > label {
    display:inline-block;
    width:33%;
    height:30px;
}

.drumtrack__controls > label > select,
.drumtrack__controls > label > input {
    @include remove-default-appearance;
    float:left;
    padding:5px 4px;
    width:100%;
    height:100%;
}

.drumtrack__controls {
    width:100%;
    display:block;
}

.drumtrack__drumbeats {
    width:100%;
    display:block;
}


.drumtrack__drumbeats__drumbeat {
    border:8px solid whitesmoke;
    display:inline-block;
    background-color: white;
    min-height: 150px;
    height:100%;
}

@media all and (min-width: 768px) {

    .drumtrack__controls {
        width:20%;
        display:inline-block;
        vertical-align: top;
    }

    .drumtrack__drumbeats {
        width:80%;
        display:inline-block;
    }
    
    .drumtrack__controls > label,
    .drumtrack__controls > label {
        display:block;
        width:100%;
    }
}
